.ranking__tab {
    border-bottom: 1px solid #d8d8d8;
    font-size: 30px;
    color: blue;

    &__item {
        overflow: hidden;
        margin-right: 10px;
        padding: 10px 15px 15px;
        border-bottom: 1px solid #d8d8d8;
    }

    &__index {
        display: block;
        float: left;
        text-align: center;
        width: 35px;
        height: 33px;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    .ranking__1,
    .ranking__2,
    .ranking__3 {
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .ranking__1 {
        background-image: url('../img/ranking_1.png');

    }

    .ranking__2 {
        background-image: url('../img/ranking_2.png');
        
    }

    .ranking__3 {
        background-image: url('../img/ranking_3.png');
        
    }

    &__img {
        float: left;
        width: 30%;
        max-width: 150px;
        max-height: 150px;
        border-radius: 10px;
    }

    &--right {
        float: left;
        margin-left: 15px;
        transform: translateY(50%);

        &__name {
            font-size: 14px;
        }

        &__description {
            display: block;
            margin-top: 15px;
            color: #777;
            font-size: 12px;
        }
    }
}