.tab__header {
    max-height: 100px;
    padding: 10px 15px;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    background-color: #f8f8f8;

    &:after {
        display: block;
        content: '';
        clear: both;
    }

    &--left {
        float: left;
        padding-top: 10px;

        &__title {
            margin-right: 10px;
            font-size: 14px;
        }
    
        &__date {
            color: #777;
            font-size: 12px;
        }
    }
}

.tab__header__menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;

    &:after {
        display: block;
        content: '';
        clear: both;
    }

    li {
        display: block;
        float: left;
        padding: 10px 15px;
        border: 1px solid #bdbdbd;
        background-color: #f8f8f8;
        cursor: pointer;
        font-size: 14px;

        &.active {
            background-color: #fff;
            color: #0eaeb9;
        }

        &:not(:last-child) {
            margin-right: -1px;
        }
    }
}