@import './common.scss';

.product__tab {
    clear: both;
    font-size: 30px;
    color: $ColorRedBase;
}

.product__tab__list {
    overflow: hidden;

    &:nth-child(6n+1) {
        .product__tab__list__item {
            &:first-child {
                width: 66.5vw;
                height: 66.5vw;
            }
        }
    }

    &:nth-child(6n+4) {
        .product__tab__list__item {
            &:first-child {
                float: right;
                width: 66.5vw;
                height: 66.5vw;

                .product__tab__list__item__description {
                    text-align: right;
                    left: auto;
                    right: 15px;
                }
            }

            &:not(:first-child) {
                margin-left: 0;
                margin-right: 0.5vw;

                .product__tab__list__item__price {
                    left: auto;
                    right: 15px;
                }
            }
        }
    }
}

.product__tab__list__item {
    position: relative;
    float: left;
    width: 33vw;
    height: 33vw;
    margin-bottom: 0.5vw;
    margin-left: 0.5vw;

    &:first-child {
        margin-left: 0;
    }

    .product__tab__list__item__price {
        position: absolute;
        z-index: 1;
        bottom: 15px;
        left: 15px;
        color: $ColorWhiteBase;
        text-shadow: 1px 1px 2px $ColorBlack10;
    }

    .product__tab__list__item__img {
        position: absolute;
        width: 100%;
        max-height: 100%;
    }
}

.product__tab__list__item__description {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 15px;
    
    &__shop-name {
        display: block;
        margin-bottom: 5px;
        color: $ColorWhiteBase;
        font-size: 18px;
        text-shadow: 1px 1px 2px $ColorBlack10;
    }

    &__title {
        display: block;
        color: $ColorWhiteBase;
        font-size: 18px;
        word-break: break-word;
        text-shadow: 1px 1px 2px $ColorBlack10;
    }
}